.container {
  max-width: 960px;
  margin: 0 auto; }

input,
button,
textarea,
select {
  padding-right: 0.8em;
  padding-left: 0.8em;
  height: 3em;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  outline: none;
  transition: border .2s ease-in-out;
  vertical-align: middle; }
  input:focus,
  button:focus,
  textarea:focus,
  select:focus {
    border: 1px solid rgba(0, 0, 0, 0.6); }

textarea {
  vertical-align: top;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: auto; }

button,
input[type="button"],
input[type="submit"] {
  font-family: inherit;
  cursor: pointer; }
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover {
    border: 1px solid rgba(0, 0, 0, 0.6); }

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  height: auto;
  vertical-align: baseline; }

.btn,
button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  height: 3em;
  box-sizing: border-box;
  background: #999;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: inherit;
  text-decoration: none;
  white-space: nowrap;
  transition: .2s background ease-in-out, .2s border ease-in-out;
  vertical-align: middle; }
  .btn:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover {
    background: #8c8c8c;
    border: 1px solid transparent;
    color: #fff; }
  .btn:focus,
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus {
    border: 1px solid transparent; }
  .btn.btn-outline,
  button.btn-outline,
  input[type="button"].btn-outline,
  input[type="submit"].btn-outline {
    background: none;
    border-color: #999;
    color: #999; }
    .btn.btn-outline:hover,
    button.btn-outline:hover,
    input[type="button"].btn-outline:hover,
    input[type="submit"].btn-outline:hover {
      background: rgba(0, 0, 0, 0.05); }

a.btn {
  padding: 0.7em 0.8em; }

.btn-rounded {
  border-radius: 50px; }

.btn-primary {
  background: #4A90E2; }
  .btn-primary:hover {
    background: #3483de; }
  .btn-primary.btn-outline {
    border-color: #4A90E2;
    color: #4A90E2; }

.btn-success {
  background: #7ED321; }
  .btn-success:hover {
    background: #71bd1e; }
  .btn-success.btn-outline {
    border-color: #7ED321;
    color: #7ED321; }

.btn-info {
  background: #89BBF5; }
  .btn-info:hover {
    background: #71adf3; }
  .btn-info.btn-outline {
    border-color: #89BBF5;
    color: #89BBF5; }

.btn-warning {
  background: #F5A623; }
  .btn-warning:hover {
    background: #f39c0b; }
  .btn-warning.btn-outline {
    border-color: #F5A623;
    color: #F5A623; }

.btn-danger {
  background: tomato; }
  .btn-danger:hover {
    background: #ff4d2e; }
  .btn-danger.btn-outline {
    border-color: tomato;
    color: tomato; }

body {
  line-height: 1.62em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a:not(.btn) {
  color: #0077aa;
  text-decoration: none;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#0077aa, #0077aa);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: .03em 0 #fff, -.03em 0 #fff, 0 .03em #fff, 0 -.03em #fff, .06em 0 #fff, -.06em 0 #fff, .09em 0 #fff, -.09em 0 #fff, .12em 0 #fff, -.12em 0 #fff, .15em 0 #fff, -.15em 0 #fff;
  background-position: 0 100%, 100% 100%, 0 100%;
  transition: color .2s ease-in-out; }
  a:not(.btn):hover {
    color: #005a81; }

hr {
  border: 0;
  height: 1px;
  background: #E5E5E5; }

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.62em; }

p {
  max-width: 760px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 20px; }

code {
  padding: 5px;
  background: #efefef;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #666;
  font-weight: normal; }

.code {
  padding: 14px;
  overflow: auto;
  background: #EFEFEF;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #666;
  font-size: 14px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: ' ';
    display: table; }
  .clearfix:after {
    clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.clearfloat {
  float: none; }

.hide,
.hidden {
  display: none; }

.block {
  display: block;
  width: 100%; }

.margin {
  margin: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-right {
  margin-right: 16px; }

.margin-bottom {
  margin-bottom: 16px; }

.margin-left {
  margin-left: 16px; }

.half-margin {
  margin: 8px; }

.half-margin-top {
  margin-top: 8px; }

.half-margin-right {
  margin-right: 8px; }

.half-margin-bottom {
  margin-bottom: 8px; }

.half-margin-left {
  margin-left: 8px; }

.margin-clear {
  margin: 0; }

.margin-top-clear {
  margin-top: 0; }

.margin-right-clear {
  margin-right: 0; }

.margin-bottom-clear {
  margin-bottom: 0; }

.margin-left-clear {
  margin-left: 0; }

.padding {
  padding: 16px; }

.padding-top {
  margin-top: 16px; }

.padding-right {
  margin-right: 16px; }

.padding-bottom {
  margin-bottom: 16px; }

.padding-left {
  padding-left: 16px; }

.half-padding {
  padding: 8px; }

.half-padding-top {
  margin-top: 8px; }

.half-padding-right {
  margin-right: 8px; }

.half-padding-bottom {
  margin-bottom: 8px; }

.half-padding-left {
  padding-left: 8px; }

.padding-clear {
  padding: 0; }

.padding-top-clear {
  margin-top: 0; }

.padding-right-clear {
  margin-right: 0; }

.padding-bottom-clear {
  margin-bottom: 0; }

.padding-left-clear {
  padding-left: 0; }

.image-responsive {
  max-width: 100%; }

.image-center {
  display: block;
  margin: 0 auto; }

a.without-underline {
  text-shadow: none;
  background: none; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.no-wrap {
  white-space: nowrap; }

@media screen and (max-width: 640px) {
  .clearfloat-mobile {
    float: none; }

  .hidden-mobile,
  .hide-mobile {
    display: none; }

  .block-mobile {
    display: block; }

  .text-right-mobile {
    text-align: right; }

  .text-left-mobile {
    text-align: left; }

  .text-center-mobile {
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
