// Grid
$container-max-width: 960px;

// Typography
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-line-height: 1.62em;

$text-color: #333;
$link-color: #0077aa;
$link-hover-color: darken($link-color, 8);

$hr-background: #E5E5E5;

// Colors
$default: #999;
$primary: #4A90E2;
$success: #7ED321;
$info: #89BBF5;
$warning: #F5A623;
$danger: tomato;


// Buttons
$btn-height: 3em;
$btn-padding: .7em .8em;
$btn-border-radius: 5px;

$btn-background: $default;
$btn-primary-background: $primary;
$btn-success-background: $success;
$btn-info-background: $info;
$btn-warning-background: $warning;
$btn-danger-background: $danger;

// Form
$form-height: 3em;
$form-padding-vertical: .5em;
$form-padding-horizontal: .8em;

$form-background: rgba(255, 255, 255, .5);
$form-border: 1px solid rgba(0, 0, 0, .3);
$form-border-radius: 4px;

// Helpers
$default-spacing: 16px;

// Responsive
$responsive-break: 640px;

// Plugins
$fa-font-path: "../font/fontawesome";
$fa-css-prefix: icon;

// Tooltip (from primercss)
$tooltip-max-width: 250px !default;
$tooltip-text-color: #fff;
$tooltip-background-color: rgba(0, 0, 0, 0.8);
$tooltip-delay: 0.4s !default;
$tooltip-duration: 0.1s !default;
