input,
button,
textarea,
select {
	padding-right: $form-padding-horizontal;
	padding-left: $form-padding-horizontal;
	height: $form-height;
	background: $form-background;
	border: $form-border;
	border-radius: $form-border-radius;
	box-sizing: border-box;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	outline: none;
	transition: border .2s ease-in-out;
	vertical-align: middle;
	&:focus {
		border: 1px solid rgba(0, 0, 0, .6);
	}
}
textarea {
	vertical-align: top;
	padding-top: $form-padding-vertical;
	padding-bottom: $form-padding-vertical;
	height: auto;
}
button,
input[type="button"],
input[type="submit"] {
	font-family: inherit;
	cursor: pointer;
	&:hover {
		border: 1px solid rgba(0, 0, 0, .6);
	}
}
input[type="radio"],
input[type="checkbox"] {
	padding: 0;
	height: auto;
	vertical-align: baseline;
}
