// Clearfix
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
}
// Position
.right {
    float: right;
}
.left {
    float: left;
}
.clearfloat {
    float: none;
}

// Box model
.hide,
.hidden {
    display: none;
}
.block {
    display: block;
    width: 100%;
}

.margin {
    margin: $default-spacing;
}
.margin-top {
    margin-top: $default-spacing;
}
.margin-right {
    margin-right: $default-spacing;
}
.margin-bottom {
    margin-bottom: $default-spacing;
}
.margin-left {
    margin-left: $default-spacing;
}

.half-margin {
    margin: $default-spacing / 2;
}
.half-margin-top {
    margin-top: $default-spacing / 2;
}
.half-margin-right {
    margin-right: $default-spacing / 2;
}
.half-margin-bottom {
    margin-bottom: $default-spacing / 2;
}
.half-margin-left {
    margin-left: $default-spacing / 2;
}

.margin-clear {
    margin: 0;
}
.margin-top-clear {
    margin-top: 0;
}
.margin-right-clear {
    margin-right: 0;
}
.margin-bottom-clear {
    margin-bottom: 0;
}
.margin-left-clear {
    margin-left: 0;
}

.padding {
    padding: $default-spacing;
}
.padding-top {
    margin-top: $default-spacing;
}
.padding-right {
    margin-right: $default-spacing;
}
.padding-bottom {
    margin-bottom: $default-spacing;
}
.padding-left {
    padding-left: $default-spacing;
}

.half-padding {
    padding: $default-spacing / 2;
}
.half-padding-top {
    margin-top: $default-spacing / 2;
}
.half-padding-right {
    margin-right: $default-spacing / 2;
}
.half-padding-bottom {
    margin-bottom: $default-spacing / 2;
}
.half-padding-left {
    padding-left: $default-spacing / 2;
}

.padding-clear {
    padding: 0;
}
.padding-top-clear {
    margin-top: 0;
}
.padding-right-clear {
    margin-right: 0;
}
.padding-bottom-clear {
    margin-bottom: 0;
}
.padding-left-clear {
    padding-left: 0;
}

// Images
.image-responsive {
    max-width: 100%;
}
.image-center {
    display: block;
    margin: 0 auto;
}

// Typography
a.without-underline {
    text-shadow: none;
    background: none;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.no-wrap {
    white-space: nowrap;
}

// Responsive
@media screen and (max-width: $responsive-break) {
    // Position
    .clearfloat-mobile {
        float: none;
    }

    // Box Model
    .hidden-mobile,
    .hide-mobile {
        display: none;
    }
    .block-mobile {
        display: block;
    }

    // Typography
    .text-right-mobile {
        text-align: right;
    }
    .text-left-mobile {
        text-align: left;
    }
    .text-center-mobile {
        text-align: center;
    }
}
