body {
	line-height: $base-line-height;
	font-family: $font-family;
	color: $text-color;
}
a:not(.btn) {
	color: $link-color;
    text-decoration: none;
    background: linear-gradient(#fff, #fff),
                linear-gradient(#fff, #fff),
                linear-gradient($link-color, $link-color);
    background-size: .05em 1px,
                     .05em 1px,
                     1px 1px;
    background-repeat: no-repeat,
                       no-repeat,
                       repeat-x;
    text-shadow: .03em 0 #fff,
                 -.03em 0 #fff,
                 0 .03em #fff,
                 0 -.03em #fff,
                 .06em 0 #fff,
                 -.06em 0 #fff,
                 .09em 0 #fff,
                 -.09em 0 #fff,
                 .12em 0 #fff,
                 -.12em 0 #fff,
                 .15em 0 #fff,
                 -.15em 0 #fff;
    background-position: 0 100%,
                         100% 100%,
                         0 100%;
	 transition: color .2s ease-in-out;
	 &:hover {
		 color: $link-hover-color;
	 }
}
hr {
	border: 0;
	height: 1px;
	background: $hr-background;
}
h1, h2, h3 {
	font-family: $title-font-family;
	line-height: $base-line-height;
}
p {
	max-width: 760px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 20px;
}
code {
	padding: 5px;
	background: rgb(239, 239, 239);
	border: 1px solid #dedede;
	border-radius: 5px;
	color: #666;
	font-weight: normal;
}
.code {
	padding: 14px;
	overflow: auto;
	background: #EFEFEF;
	border: 1px solid #dedede;
	border-radius: 5px;
	color: #666;
	font-size: 14px;
}
